/* General */
* { /*remove all margin and padding from page */
    margin: 0;
    padding: 0;
}

body {
    font-family: "Unica One", Arial, Helvetica, sans-serif;
}

/* CSS Grid */

/*grab main container */
.coffee-shop-container {
    display: grid;
    grid-template-columns: 300px 1fr;   
    /*give the right one a fractional unit which is remainder of the space*/
}

.left-nav-container {
    grid-area: 1 / 1 / 3 / 2;           
     /*shorthand property grid area*/
     /* border: 1px solid #000; /*shows grid layout*/
}

.header {
    grid-area: 1 / 2 / 2 / 3;   
    /*starting in first row and second columm; ends in first row, add 2 for that; ends in second column as well; stops before the third column, but write 3 anyways */
    /* border: 1px solid #000; /*shows grid layout*/
}

.body {
    grid-area: 2 / 2 / 3 / 3;  /* starts in second column and second row, finishs in same row too, so it needs to go up by one (3) */
    /* border: 1px solid #000; /*shows grid layout*/
}

/* header */
.header {
    text-align: center;
    color: #fff;
    background-color: #292c30;
    padding: 50px;
}

.header-h3 {
    margin-top: 15px;
}

/*left nav column */

.left-nav-container {
    background: #292c30;
    height: 100vh;  /* view height */
    width: 300px;
    position: fixed; /*so the left column doesnt move */
}

.logo {
    width: 250px;
    height: auto;
    display: block;     /*to center logo */
    margin: auto;
    padding: 20px;
    margin: 15px auto 30px auto; /*15px = top, auto = left, 30px = bottom, right = auto */  
}

.left-navbar {
    display: block;
    text-align: center;
    list-style: none; /*remove the list style for no bullet points */

} 

.left-navbar li {  /* calling the left nav bar and list tag */
    padding: 12px;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 1px solid rgb(82, 82, 82); 
}

/* a tag for style*/
.left-navbar li a {
    color: #fff;
    text-decoration: none; /* gets rid of underline of text */
}

.top-nav-item { /*too add border color for top of home button only, otherwise border would add itself twice to the rest of the nav */
    border-top: 1px solid rgb(82, 82, 82); 
}

.active {
    border-right: 3px solid #ab8b65;
}

.active a { /*for text color of Home button link */ 
    color: #ab8b65 !important; /*important overrides the default white */
}

/* body */ 
.body {
  
    background-color: #313539; 
}

.body-main-img {
    width: 80%;
    height: auto;
    padding: 5px;
    display: block;
    margin: auto;
}